# Editor/IDE
.vscode/

# Dependencies
node_modules/
package-lock.json

# Project config and tooling
.darklua.json
nodemon.json
package.json
selene.toml
stylua.toml

sunc.d.luau
eclipse.d.luau

# Source and tools
*.lua
src/
tools/

# LAEWL!
out/
